
all:
  fetch_directory: /tmp
  environment: demo.lv

proxy:
  use: true
  host: 192.168.20.141
  port: 3128

k8s:
  apt:
    version: v1.34

  cluster:
    configuration: 
      etcd: |
        etcd:
          external:
            endpoints:
              - https://192.168.20.52:2379
            caFile: /etc/etcd/ca.pem
            certFile: /etc/etcd/etcd.pem
            keyFile: /etc/etcd/etcd-key.pem        
  cri:
    vendor: containerd # cri-o, containerd
    criSocket: unix:///var/run/containerd/containerd.sock
    crio:
      # https://github.com/cri-o/cri-o/releases
      version: v1.34.1
      # https://github.com/containerd/containerd/releases
    containerd:
      version: v2.2.0
  master:
    pod_network_cidr: 10.244.0.0/16   
    kubeadm_extra: "--v=99"
    load_balancer_ip: 192.168.20.141
    apiserver_port: 6443
    untaint: false
    untaint_master_nodes:
      - lisboa.europe

  cns:
    hostpath: /data_storage/cns

  coredns:
    namespace: coredns-europe
    port: 53
    zone_name: europe
    external_ip: 192.168.20.180
    forward: 8.8.8.8 8.8.4.4

    zone: |
      europe.               IN  SOA ns1.europe. root.europe. 2015082541 7200 3600 1209600 3600
      europe.               IN  NS  ns1.europe.
      ns1                   IN  A   192.168.20.180

      dashboard.lv.k8s      IN  A   192.168.20.180
      grafana.lv.k8s        IN  A   192.168.20.180

  core:
    cni: 
      vendor: weave # calico, weave, flannel, cilium
      cilium:
        version: 1.16.1
      calico:
        # https://github.com/projectcalico/calico/releases
        version: v3.31.0
      weave:
        version: v2.8.1
      flannel:
        version: latest

    metallb:
      # https://metallb.io/installation/
      ip_range: "192.168.20.180-192.168.20.189"
      version: v0.15.2
    
    nginx:
      # https://github.com/kubernetes/ingress-nginx
      version: v1.14.0

    cert_manager:
      version: v1.15.3
      namespace: cert-manager
      ca:
        cn: "k8s europe CA"
        csr:
          C: France
          L: Paris
          ST: Ile de France
        expiry: 43830h
        renewBefore: 360h

    dashboard:
      csr_CN: dashboard.lv.k8s.europe
      host: dashboard.lv.k8s.europe
      version: v2.7.0

    grafana:
      csr_CN: grafana.lv.k8s.europe
      host: grafana.lv.k8s.europe

    coredns: 
      domain: k8s.europe
      port: 53
      forward: 192.168.20.180

