
# squid configuration

proxy:
  conf: |
    http_port 3128
    
    acl SSL_ports port 443
    acl Safe_ports port 80
    acl Safe_ports port 443
    acl CONNECT method CONNECT
    
    http_access allow CONNECT SSL_ports
    http_access deny !Safe_ports
    http_access deny CONNECT !SSL_ports
    
    acl localnet src 127.0.0.1/32
    http_access allow localnet
    
    refresh_pattern -i \.deb$ 4320 100% 43200
    refresh_pattern -i \.(d|u)deb$ 4320 100% 43200
    refresh_pattern -i Release$ 0 20% 2880
    refresh_pattern -i Packages(.gz)?$ 0 20% 2880
    refresh_pattern . 0 20% 4320
    
    cache_mem 256 MB
    maximum_object_size_in_memory 2 MB
    maximum_object_size 512 MB
    minimum_object_size 1 KB

    cache_dir aufs /var/spool/squid 20000 16 256
    access_log stdio:/var/log/squid/access.log
    coredump_dir /var/spool/squid

    include /etc/squid/conf.d/*.conf


